@media (max-width: 1400px)  {
    .auth-sec .right-sec .content {
        width: 80%;
    }
}

@media (max-width: 1199.98px) {

    .auth-sec .right-sec .content {
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    .auth-sec .right-sec {
        padding: 20px 30px;
    }
    .auth-sec .left-sec {
        margin-right: 0;
    }

    .auth-sec .left-sec .auth-img {
        right: unset;
    }
}

@media (max-width: 767.98px) {
    .auth-sec .right-sec {
        flex-wrap: wrap;
    }

    .auth-sec .right-sec {
       width: 100%;
    }

    .auth-sec .left-sec {
       display: none;
    }
    .auth-sec .right-sec .bottom-box {
        padding-bottom: 0;
    }
}

@media (max-width: 575.98px) {
    .auth-sec .right-sec {
        padding: 20px;
    }

    .forget-password .right-sec .top-box .steps .step {
        margin-right: 30px;
        width: 35px;
        height: 35px;
    }

    .forget-password .right-sec .top-box .steps .step:before {
        right: -15px;
    }

    .forget-password .right-sec .top-box .steps .step:after {
        left: -15px;
    }
}

