html, body {
    font-family: "Cairo", sans-serif !important;
    font-optical-sizing: auto;
    box-sizing: border-box !important;
    direction: rtl;
    text-align: right;
    background-color: #F7FDFC;
    color: var(--dark-color);
}

:focus-visible {
    outline: none;
}

img {
    max-width: 100%;
}

.custom-form-control {
    direction: rtl;
    box-shadow: none;
    border-radius: 10px;
    min-height: 42px;
    vertical-align: middle;
    border: 1px solid #AEAEAE;
    color: var(--dark-color);
}

.custom-form-control:focus {
    box-shadow: none;
    color: var(--dark-color);
    border: 2px solid #10305038;
}

.custom-form-control::placeholder {
    color: #06222F54;
}

.form-label {
    font-size: 16px;
    font-weight: 600;
}

.form-check .form-check-input {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid var(--gray-color);
}

.form-check .form-check-input:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}

.form-check .form-check-input:checked {
    background-color: var(--primary-color);
}

.form-check .form-check-input:checked {
    background-color: var(--primary-color);
}

.modal .modal-header .modal-title {
    color: var(--primary-color);
}

.modal .modal-header .btn-close {
    background-image: none;
    color: var(--primary-color);
    opacity: 1;
    font-size: 20px;
}

.modal .modal-header .btn-close:focus {
    box-shadow: none;
}

.modal .modal-footer .close-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 30px;
}

.auth-sec {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.auth-sec .right-sec {
    flex: 1;
    width: 50%;
    padding-block: 20px;
    padding-inline: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-sec .right-sec .content {
    width: 65%;
    margin-inline: auto;
}

.auth-sec .left-sec {
    width: calc(50% - 140px);
    margin-right: 140px;
    flex: 1;
    position: relative;
    background-color: var(--primary-color);
    background-image: url("../images/left_box_bg.png");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.auth-sec .left-sec .content {
    width: 100%;
    min-height: 100vh;

}

.auth-sec .left-sec .left-box-before {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

.auth-sec .left-sec .left-box-after {
    position: absolute;
    bottom: 0;
    right: -40px;
    width: 250px;
}

.auth-sec .left-sec .auth-img {
    position: relative;
    right: -150px;
    max-height: 500px;
}

.auth-sec .right-sec .top-box .logo {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.auth-sec .right-sec .top-box .logo img {
    max-height: 100px;
}

.auth-sec .right-sec .top-box .title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.auth-sec .right-sec .top-box .description {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.auth-sec .right-sec .middle-box .form-submit {
    background-color: var(--primary-color);
    color: var(--white-color);
    display: block;
    width: 100%;
    padding: 10px 20px;
}

.auth-sec .right-sec .bottom-box {
    text-align: center;
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}

.auth-sec .right-sec .bottom-box a {
    color: var(--primary-color);
    font-size: 18px;
    text-decoration: underline;
}

/*************************************************************************************************************************************************************************/
/**** Start Login ****/
/*************************************************************************************************************************************************************************/


.login .right-sec .middle-box .forget-password {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 18px;
}

.login .right-sec .middle-box .forget-password:hover {
    text-decoration: underline;
}

.login .right-sec .middle-box .register-link {
    text-align: center;
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 700;
}

.login .right-sec .middle-box .register-link a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    margin-right: 5px;
}

.login .right-sec .middle-box .register-link a:hover {
    text-decoration: underline;
}

/*************************************************************************************************************************************************************************/
/**** Start Register ****/
/*************************************************************************************************************************************************************************/

.register .form-check .form-check-label a {
    color: var(--primary-color);
    text-decoration: underline;
}

.register .right-sec .middle-box .login-link {
    text-align: center;
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 700;
}

.register .right-sec .middle-box .login-link a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    margin-right: 5px;
}

.register .right-sec .middle-box .login-link a:hover {
    text-decoration: underline;
}

/*************************************************************************************************************************************************************************/
/**** Start Confirm Email ****/
/*************************************************************************************************************************************************************************/

.auth-sec .right-sec .middle-box .otp-box {
    direction: ltr;
}

.auth-sec .right-sec .middle-box .otp-box .otp-input {
    height: 50px;
    width: 70px;
    font-size: 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--gray-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
    direction: ltr;
}

.auth-sec .right-sec .middle-box .otp-box .otp-input:focus {
    border-color: var(--primary-color);
    outline: none;
}


.auth-sec .right-sec .middle-box .otp-box .otp-input::-webkit-inner-spin-button,
.auth-sec .right-sec .middle-box .otp-box .otp-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.confirm-email .right-sec .middle-box .confirm-email-link {
    text-align: center;
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 700;
}

.confirm-email .right-sec .middle-box .confirm-email-link a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    margin-right: 5px;
}

.confirm-email .right-sec .middle-box .confirm-email-link a:hover {
    text-decoration: underline;
}

/*************************************************************************************************************************************************************************/
/**** Start Forget Password ****/
/*************************************************************************************************************************************************************************/

.forget-password .right-sec .top-box .steps {
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
    margin-bottom: 50px;
}

.forget-password .right-sec .top-box .steps .step {
    background-color: #D2D2D2;
    color: var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 600;
    position: relative;
}

.forget-password .right-sec .top-box .steps .step:before {
    position: absolute;
    content: '';
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 20px;
    background-color: #D2D2D2;
}

.forget-password .right-sec .top-box .steps .step:after {
    position: absolute;
    content: '';
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 20px;
    background-color: #D2D2D2;
}

.forget-password .right-sec .top-box .steps .step.active {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 22px;
}

.forget-password .right-sec .top-box .steps .step.active:before {
    background-color: var(--primary-color);
}

.forget-password .right-sec .top-box .steps .step.active:after {
    background-color: var(--primary-color);
}

.forget-password .right-sec .top-box .steps .step:last-of-type {
    margin-right: 0;
}

.forget-password .right-sec .top-box .steps .step:first-of-type:after {
    display: none;
}

.forget-password .right-sec .top-box .steps .step:last-of-type:before {
    display: none;
}

.forget-password .right-sec .middle-box .form-check {
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    border-radius: 10px;
    padding: 10px 20px;
}

.forget-password .right-sec .middle-box .form-check .form-check-label {
    font-weight: 600;
    cursor: pointer;
}

.forget-password .right-sec .middle-box .form-check .form-check-input {
    border: 1px solid var(--primary-color);
    width: 25px;
    height: 25px;
}

.forget-password4 .right-sec .middle-box .form-control::placeholder {
    color: var(--dark-color);
    font-weight: 600;
}

.forget-password5 .right-sec .middle-box svg circle {
    stroke: var(--primary-color);
}

.forget-password5 .right-sec .middle-box svg path {
    stroke: var(--primary-color);
}

.forget-password .left-sec .auth-img {
    right: unset;
    max-height: 400px;
}